.App {
  text-align: center;
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
}

.Footer {
  text-align: center;
  min-height: 8vh;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  flex-shrink: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}
